<nav class="p-blue">
    <%= link_to groups_path do %>
  <%= image_tag('back.png', alt: 'Back', class: "back-icon")%>
  <% end %>
  <h1><%= current_user.name %>'s Transactions</h1>

<%= render "devise/shared/logout" %>

</nav>

<section>
  <h4 class="category"> <span>Total Spent:</span> <span>$<%= @entities.sum(:amount) %></span></h4>
  <% @entities.each do |entity|%>
    <div class="category">
      <p class="trans-name"><%= entity.name %> </p>
      <p class="mid-categ small-text"><%= entity.created_at %></p>
      <div class="end-categ">
      <p>$<%= entity.amount %></p>
      <%= button_to "Delete", group_entity_path(id: entity.id, group_ids: entity.group_ids), class: "delete-categ p-green", method: :delete, data: {confirm: "Are you sure you want to delete this category?"} %>
      </div>
    </div>
  <% end %>
</section>

<div class="bottom-btn p-green">
  <%= link_to 'New Transaction', new_group_entity_path, class: "p-green new-categ-btn margin-0-2pc" %>
</div>
