<h1>This Page shows all the Transactions for 1 Category for <%= current_user.name %></h1>

<%= render "devise/shared/logout" %>


<section>
  <% @entities.each do |entity|%>
  <p>Transactions: <%= entity.name %> </p>
  <% end %>
  </section>

  <%= link_to 'New Transaction', new_group_entity_path %>
<br />
  <%= link_to 'Back to Categories', groups_path %>