<h1>This Page is for making a new Transaction</h1>


<div>
<%= form_with model: @entity, method: :post, url: group_entities_path do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>

  <%= form.label :amount %><br>
  <%= form.text_field :amount %><br>

  <%= form.hidden_field :group_id, value: @group.id %>

  <%= form.submit "Save Transaction" %><br>
  <%end%>
</div>
