
<nav class="p-blue">
<%= link_to unauthenticated_root_path do %>
  <%= image_tag('back.png', alt: 'Back', class: "back-icon")%>
  <% end %>
  <p>LOGIN</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="actions">
    <%= f.submit "Log in", class: "p-blue" %>
  </div>

  </nav>  

  <div class="form-fields">
    <div class="field">
      <%= f.email_field :email, placeholder: "Email", class: "form-field"  %>
    </div>

    <div class="field">
      <%= f.password_field :password, placeholder: "Password", class: "form-field"  %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
